#CI项目名
name: REDMI-AX6000

on:
  #自动编译：每天早上4点
  schedule:
    - cron: 0 20 * * *
  #手动编译
  workflow_dispatch:
    inputs:
      REPO_BRANCH:
        description: '天灵源码-请选择分支'
        required: true
        default: 'openwrt-24.10'
        type: choice
        options:
          - 'openwrt-23.05'
          - 'openwrt-22.03'
          - 'openwrt-21.02'
          - 'master'
          - 'mt798x'
#CI权限
permissions: write-all

#CI任务
jobs:
  owrt_config:
    
    if [ ${{ github.event.inputs.REPO_BRANCH }} == "mt798x" ]; then
       echo "Building production version"
    else
   - name: 判断逻辑
    run: |
       if [ github.event.inputs.REPO_BRANCH == "mt798x" ]; then
         uses: ./.github/workflows/redmi.yml
       else
        echo "Building development version"
    #调用公用编译核心OWRT-CORE.yml
    uses: ./.github/workflows/redmi.yml
    with:
      #编译，REDMIAX6000M通用配置
      OWRT_TARGET: redmiax6000
      #默认主题
      OWRT_THEME: argon
      #默认主机名
      OWRT_NAME: redmi-ax6000
      #默认WIFI名字
      OWRT_wifi_ssid: Redmi_5A21 
      #默认密码，仅作展示，更改无效
      OWRT_PW: password
      #默认地址
      OWRT_IP: 192.168.31.1
      #默认源码
      OWRT_URL: https://github.com/hanwckf/immortalwrt-mt798x.git
